DB_USERNAME=postgres
DB_PASSWORD=postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fitstore

JWT_SECRET=VpCqfWPUFhqfdOeN82Qf8lMgPrIKwzAgy+JDEezJz/g=
JWT_ISSUER=fitstore

ACCESS_KEY=FAKEACCESSKEY123456
SECRET_KEY=FAKESECRETKEY1234567890abcdef

TIMEZONE=America/Sao_Paulo